<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scratch</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body align="center">
    <h1 class="home">دورة اساسيات البرمجة (Scratch) تجيهز بيئة العمل (الاسبوع الاول )

    </h1>

    <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/p5PgiGyOPHQ?si=UmPywcSZ9C0Lyeeh"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

    <h3><a href="https://scratch.mit.edu/">رابط موقع Scratch</a></h3>
    <h3><a href="https://scratch.mit.edu/download">تحميل برنامج Scratch للويندوز</a></h3>
    <h3><a href="        https://play.google.com/store/apps/details?id=org.scratch&hl=en&gl=US&pli=1
            ">تحميل برنامج Scratch للاندرويد</a></h3>


    <button><a href="./2.html"> التالي</a></button>
    <script src="../main.js"></script>
</body>

</html>